html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
    /* bottom = footer height */
}

.postDiv {
    font-family: 'FontAwesome';
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: solid;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom-width: 2px;
    border-color: dodgerblue;
    overflow-wrap: anywhere;
}

.entryStuff {
    font-family: 'Roboto', sans-serif;
    color: orange;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: solid;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom-width: 2px;
    border-color: dodgerblue;
}

.fa {
    font-size: 2rem!important;
}

.dodajButton {
    width: 3.25rem;
}

.chocolateText {
    color: chocolate;
}

.creamMint {
    color: mintcream;
}

.editDiv {
    font-family: 'FontAwesome';
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: yellow;
}

.detailDiv {
    font-family: 'FontAwesome';
    padding-right: 5rem;
    padding-left: 5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: yellow;
}

.postDiv a {
    color: yellow;
}

.articleSpan {
    color: mintcream;
    font-weight: lighter;
}

body {
    background-color: #10033b;
}

.introDiv {
    font-family: 'Bangers', cursive;
    display: inline-flex!important;
    width: 100%!important;
    background-color: lavender;
}

.divHeader {
    width: 50%;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-align: left!important;
}

.divPlus {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    width: 50%;
    text-align: end;
}

.introDiv h1 {
    font-size: 5rem;
}

.footer {
    text-align: center;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    background-color: lavender;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}

.footer a {
    font-weight: 900;
    color: black;
}

.buttonOnEditPage {
    margin-left: 2.9rem!important;
}


/*login page*/

.whiteText {
    color: white;
    font-family: FontAwesome;
}

.loginDiv {
    padding-left: 5rem!important;
    padding-right: 5rem!important;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.paddingTopHalfRem {
    padding-top: 0.5rem;
}

.marginTopHalfRem {
    margin-top: 0.5rem;
    margin-right: 1px;
    margin-left: 1px;
}

label {
    margin: 0!important;
}

.logOutAnchorFontSize {
    font-size: 110%;
}

.loginLabels {
    padding-right: 2px;
    padding-left: 2px;
}