{% extends "blog/base.html" %}

{% block content %}
    <div class="signup-form pt-4">
        <form method="post">
            {% csrf_token %}
            <h2>Zmiana hasła</h2>
            {% if form.errors %}
                <ul class="listaErrorow">
                    {% for key, value in form.errors.items %}
                        {% for error in value %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}
            <hr>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="stare hasło" name="old_password" autofocus="" autocapitalize="none" autocomplete="current-password" maxlength="150" required="" id="id_old_password">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="nowe hasło" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="powtórz nowe hasło" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary w100">Zmień hasło</button>
            </div>
        </form>
    </div>

{% endblock %}